
<h1 >Review form  </h1>
<!--<form [formGroup]="exampleForm"> -->
  <div> <!--</div>class="form-group"> -->
    <label>Overall rating:</label>
    <a *ngFor="let item of starListOA; let i=index " (click)="setStarOA(i)">
      <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
    </a>
    - {{ratingOA}} stars

    <br/>
    <br/>

    <label>Experience description:</label>
    <br/>
    <textarea cols="50"></textarea>

    <br/>
    <br/>

    <label>Location rating:</label>
    <!--<input class="form-control" formControlName="locationRating"> -->
    <a *ngFor="let item of starListLoc; let i=index " (click)="setStarLoc(i)">
      <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
    </a>
    - {{ratingLoc}} stars

    <br/>
    <br/>

    <label>Staff rating:</label>
    <a *ngFor="let item of starListStaff; let i=index " (click)="setStarStaff(i)">
      <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
    </a> -{{ratingStaff}} stars

    <br/>
    <br/>

    <label>Environment rating:</label>
    <a *ngFor="let item of starListEnv; let i=index " (click)="setStarEnv(i)">
      <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
    </a>- {{ratingEnv}} stars

    <br/>
    <br/>

    <button >Submit review!</button>

  </div>
<!--</form> -->

