<!DOCTYPE html>
<div id="pageContainer">

<div id="container" class="officialColor">
    <div class="child">
        <h1>{{title}}</h1>
        <div id="descriere"> {{description}}</div>
     
    </div>
    
    <div id="map"> 
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
   
</div>

<form id="email">
    <input placeholder="Email Address" type="text" [(ngModel)]="email" name="email"/>
    <button id="button" (click)="onClick()">Book seat</button>
</form>

</div>