<app-sticky-header></app-sticky-header>

<div class="locationSelection">
  <div class="row">
    <div class="column">
      <a routerLink="/membership" routerLinkActive="active" (click)="selectedCity('Cluj-Napoca')">
        <img src="assets/img/cluj.jpg" class="img">
        <p class="title">Cluj-Napoca</p>
      </a>
    </div>

    <div class="column">
      <a routerLink="/membership" routerLinkActive="active" (click)="selectedCity('Lisbon')">
        <img src="assets/img/lisbon.jpg" class="img">
        <p class="title">Lisbon</p>
      </a>
    </div>

    <div class="column">
      <a routerLink="/membership" routerLinkActive="active" (click)="selectedCity('Reykjavik')">
        <img src="assets/img/reykjavik.jpg" class="img">
        <p class="title">Reykjavik</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <a routerLink="/membership" routerLinkActive="active" (click)="selectedCity('Sydney')">
        <img src="assets/img/sydney.jpg" class="img">
        <p class="title">Sydney</p>
      </a>
    </div>

    <div class="column">
      <a routerLink="/membership" routerLinkActive="active" (click)="selectedCity('Cape Town')">
        <img src="assets/img/capetown.jpg" class="img" >
        <p class="title">Cape Town</p>
      </a>
    </div>

    <div class="column">
      <a routerLink="/membership" routerLinkActive="active" (click)="selectedCity('Sao Paulo')">
        <img src="assets/img/saopaulo.jpg" class="img">
        <p class="title">Sao Paulo</p>
      </a>
    </div>
  </div>
</div>


<div class="footerSection">
  <div class="row">
    <div class="column">
      <div>
        <i class="fas fa-map-marker-alt logo"></i>
        <span class="footerItem"> <b> Headquarter </b> </span>
        <p class="footerParagraph"> 25-28 George Baritiu Street, Cluj-Napoca, Romania</p>
      </div>
    </div>

    <div class="column">
      <div>
        <i class="far fa-envelope logo"></i>
        <span class="footerItem"> <b> E-mail </b> </span>
        <p  class="footerParagraph"> ourhub@ourhub.com </p>
      </div>
    </div>
  </div>
</div>
