<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active"> {{ globals.hubName }} </a>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <app-header-item class="menuItem"
        *ngFor="let navbarItem of globals.menuItems"
        [navbarIt]="navbarItem"></app-header-item>
    </ul>

    <span class="iconsArrange" id="userName" *ngIf="globals.isLoggedIn">
      {{globals.loggedInUsername }}
    </span>

    <span class="iconsArrange nav-item active">
      <i class="fas fa-user-circle" id="accountIcon"></i>

      <ul class="sub-menu">
        <a class="nav-link" *ngIf="!globals.isLoggedIn" (click)="onLoginClick()" id="logIn">
          Log In
        </a>

        <a class="nav-link" *ngIf="globals.isLoggedIn" (click)="onLogoutClick()" id="logOut">
          Log Out
        </a>
      </ul>
    </span>
  </div>
</nav>

