
<div class="pt-lg-5">
<h2 class="text-center text-primary">Events</h2>
<div class="row justify-content-evenly">
    <div *ngFor="let event of events" class="card text-white bg-primary  m-5" >
        <div class="card-header">{{event.title}}</div>
        <div class="card-body">
            <h4 class="card-title">Number of seats: {{event.nbSeats}}</h4>
            <p class="card-text">Date: {{event.date}}.</p>
            <p class="card-text">Special features: {{event.specialFeatures}}.</p>
            <button  type="button" class="btn btn-dark" data-toggle="tooltip"
            data-original-title="More info" (click) = "openEvent(event.id)" >More Info</button>
        </div>
        </div>
    </div>
</div>
