<app-sticky-header></app-sticky-header>
<div class="pt-lg-5 m-5">
<h2 *ngIf = "comments.length == 1"class="text-primary">
  1 Comment Submitted, unpublished</h2>
<h2 *ngIf = "comments.length != 1 " class="text-primary"> 
  {{comments.length}} Comment Submitted, not published</h2>

<div class="">
    <div *ngFor="let comment of comments" class="card text-white bg-primary  m-3 rounded" >
        <div class="card-header">{{comment.user}}</div>
        <div class="card-body pond">
            <div class="comment">
                <p class="text-black-50 text-lg-left">{{comment.text}}</p><br>
                <p class="text-sm-left">{{comment.date}}</p>
            </div>
            <div class="flex-column">
                <input  type="checkbox" [(ngModel)] = "comment.isReported" class="btn btn-dark" />
                <span class="text-dark">Report</span>
            </div>
        
        </div>
        </div>
    </div>
</div>
<div *ngIf = "comments.length>0" class="m-5">
<br><br>
<button id="button" (click)="publish()">Publish Comments</button><br>
<small  class="form-text text-muted">Note that the comments marked as 'Reported' will 
  be sent to the administrator and will be published only if deemed appropriate.</small>
</div>
