<li class="nav-item active">
  <a class="menuItem nav-link" [routerLink]="navbarIt.url" routerLinkActive="active">
    {{ navbarIt.name }}
    <span class="sr-only">(current)</span>
  </a>

  <ul class="sub-menu" *ngIf="navbarIt.submenu">
    <!--<a class="nav-link" *ngFor="let submenuEntry of navbarIt.submenu" [routerLink]="submenuEntry[1]" routerLinkActive="active"-->
        <!--&gt;{{ submenuEntry[0] }}-->
    <!--</a>-->
    <a class="nav-link" *ngFor="let submenuEntry of navbarIt.submenu" (click)="navigateToUrl(submenuEntry[1])">
      {{ submenuEntry[0] }}
    </a>
  </ul>
</li>

