ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub-menu {
  position: absolute;
  display: none;
  background-color: #DF691A;
  padding: 5px;
  width: 135px;
}

.sub-menu > li {
  display: block;
  cursor: pointer;
}

li:hover .sub-menu {
  display: block;
}

.menuItem:hover {
  text-decoration: underline;
}
