.sectionAlignment {
  padding: 80px 0px 50px 0px;
  width: 47%;
  margin: auto;
}

.textArrange {
  font-size: 130%;
}


/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  padding: 60% 0px 0px 0px;
}

/* Control the right side */
.right {
  right: 0;
  padding: 60% 0px 0px 0px;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 500px;
  border-radius: 60%;
}

.title {
  color: #DF691A;
  font-size: 220%;
  text-align: center;
  font-weight: bold;
  padding: 0px 0px 10px 0px;
}

.hubName {
  color: white;
  font-size: 140%;
  text-align: center;
  font-weight: bold;
}

.wrapper{
  text-align: center  ;
}

.starClass{
  color:#DF691A;
  font-size: 130%;
  width: 22px;
}

.arrowStyle{
  color:#DF691A;
  font-size: 180%;
}

.arrowLeft{
  float:left;
}

.arrowRight{
  float:right;
}

.price{
  font-size:52%;
  color:#DF691A;
}

.slider{
  width: 80%;
}
.selectedAmountClass{
  font-size: 75%;
}
